body {
  background-color: #7F775F;
  color: black;
}

.form-group {
  padding-bottom: 50px;
}

.form-control {
  width: 300px;
}

.sign-up-form {
  padding-top: 25px;
  padding-right: 320px;
}

.main-row {
  padding-top: 25px;
}

.users-image {
  width: 80%;
}

.e-log {
  padding-bottom: 0;
  padding-top: 75px;
}

.shift {
  padding-right: 250;
}

.pass-shift {
  padding-bottom: 25px;
}

.pass-log {
  margin-left: -8px;
}

.log-but {
  margin-left: 92px
}

.popcorn {
  padding-right: 0px;
}

.sess-er {
  margin-top: 10px;
  padding-left: 121px;
  font-size: 20px;
}

.another {
  margin-left: 300px;
}