body {
  background-color: #7F775F;
  color: black;
}

.form-group {
  padding-bottom: 50px;
}

.form-control {
  width: 300px;
}

img {
  width: 80%;
}

.sign-up-form {
  padding-top: 25px;
  padding-right: 320px;
}

.main-row {
  padding-top: 25px;
}