.main-page-content {
  padding-top: 50px;
}

.nav-bar-right li {
  width: 150px;
}

.form_control {
  width: 100px;
}

ul {
  list-style-type: none;
}

.error-messages {
  color: red;
}

.new-user-field {
  width: 400px;
  margin-bottom: 25px;
}

#film_container {
  display: flex;
  
}
.media {
  background-color: red;
  width: 500px;
  height: 300px;
}
